<div class="wall-thumbnail col-xs-3">
    <div ng-show="data.showLoading" class="spinner wall-thumbnail-loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <img src="images/loklak_icon_yellow_45x45_transparent.png" class="sq-setter-w" />
    <div class="wall-thumbnail-content">
        <a target="_blank" ng-href="{{userId}}/wall/{{data.id}}">
            <div ng-style="{'background-color': data.headerColour, 'color': data.headerForeColour}" class="wall-thumbnail-event-name">{{data.eventName}}</div>
            <h4 class="wall-thumbnail-mainhashtag">{{data.mainHashtag}}</h4>
        </a>
        <div class="row wall-thumbnail-footer">
            <div class="col-xs-4" >
                <a data-toggle="tooltip" title="Statistics" ng-href="{{userId}}/statistics/{{data.id}}" target="_window" ><i class="fa fa-bar-chart thumbnail-icon"></i></a>
            </div>
            <div class="col-xs-4 border"  >
                <span data-toggle="tooltip" title="Edit" ng-click="editWall(data)">
                    <i class="fa fa-pencil thumbnail-icon"></i>
                </span>
            </div>
            <div class="col-xs-4 border" >
                <span data-toggle="tooltip" title="Delete" ng-click="deleteWall(data)" >
                    <i class="fa fa-trash-o thumbnail-icon"></i>
                </span>
            </div>
        </div>
    </div>
</div>
