<div ng-controller='StatisticsCtrl'>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		    <bar-chart 
		        data="stats.hashtagDateFreq" 
		        max="7" 
		        title="Top Hashtags by day" >
		    </bar-chart>
    	</div>
    </div>
    <div class="row">
		<div class="col-md-4 text-center">
    	</div>
		<div class="col-md-4 text-center">
			<a class="btn btn-primary btn-lg " ng-href="{{stats.userId}}/bubbles/{{stats.wallId}}" ><i class="fa fa-bar-chart thumbnail-icon"></i> Go to Bubble Charts</a>
		</div>
	</div>
	
</div>
