<div ng-controller='StatisticsCtrl'>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		    <bar-chart 
		        data="stats.hashtagDateFreq" 
		        max="7" 
		        title="Top Hashtags by day" >
		    </bar-chart>
    	</div>
    </div>
    <div class="row">
		<div class="col-md-4 text-center">
    	</div>
		<div class="col-md-4 text-center">
			<a class="btn btn-primary btn-lg " ng-href="{{stats.userId}}/bubbles/{{stats.wallId}}" >
			<svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="15" viewBox="0 0 24 24" width="15">
			    <path d="M0 0h24v24H0z" fill="none"/>
			    <circle cx="7.2" cy="14.4" r="3.2"/>
			    <circle cx="14.8" cy="18" r="2"/>
			    <circle cx="15.2" cy="8.8" r="4.8"/>
			</svg>
			 Go to Bubble Charts</a>
		</div>
	</div>
	
</div>
