<link rel="stylesheet" type="text/css" href="/css/angular-toggle-switch.css">
<link rel="stylesheet" text="text/css" href="/css/angular-material.min.css">
<link rel="stylesheet" text="text/css" href="/css/material-datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/9.0.9/ng-file-upload.min.js"></script>
    <div class="modal fade wall-modal" id="wall-modal" role="dialog">
    <div class="modal-dialog modal-lg wall-modal-dialog">
        <div class="modal-content wall-modal-content">
            <div class="modal-header">
                <button type="button" ng-click="tabSelected(-1)" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Create a new Twitter Wall</h2>
            </div>
            <div class="modal-body wall-modal-body">
                <div class="row">
                    <div class="col-xs-2 tabs-list" style="position:fixed;">
                        <ul class="nav nav-tabs tabs-left" id="selectTab">
                            <!-- tabSelected for next / start btns -->
                            <li ng-click="tabSelected(0)" class="active"><a href="#info" data-toggle="tab"><i class="fa fa-align-left fa-2x"></i><br><h4>INFO</h4></a></li>
                            <li ng-click="tabSelected(1)"><a href="#content" data-toggle="tab"><i class="fa fa-filter fa-2x"></i><br><h4>CONTENT</h4></a></li>
                            <li ng-click="tabSelected(2)"><a href="#design" data-toggle="tab"><i class="fa fa-paint-brush fa-2x"></i><br><h4>DESIGN</h4></a></li>
                            <li ng-show="newWallOptions.moderation"ng-click="tabSelected(3)"><a href="#moderation" data-toggle="tab"><i class="fa fa-ban fa-2x"></i><br><h4>MODERATE</h4></a></li>
                            <li ng-show="isEditing !== -1" ng-click="tabSelected(4)"><a href="#announcements" data-toggle="tab"><i class="fa fa-bullhorn fa-2x"></i><br><h4>ANNOUNCE</h4></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-offset-2">
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="info" style="margin-bottom: 200px; margin-top:24px">
                                <form name="step1" role="form" class="wall-creation-form">
                                    <div class="box-body">
                                        <label class="info">Event Details</label>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2" >
                                        <md-input-container class="md-block ">
                                            <label style="top:-26px">Event Name</label>
                                            <input required ng-model="newWallOptions.eventName" type="text"  name="eventNameInput" aria-label="Event name">
                                        </md-input-container>
                                        </div>
                                        <div class="col-md-3">
                                        <md-input-container class="md-block hashtagBlock">
                                            <label style="top:-26px; left:18px;">Event Hashtag</label>
                                            <label class="info hashtag">#</label>
                                            <input class="hashtagInput" required ng-model="newWallOptions.mainHashtagText" type="text"  name="hashtagInput" style="margin-left: 17px; width: 98%;">
                                        </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                        <label class="info" >Show tweets within this period:</label>
                                        <div>
                                            <md-datepicker ng-model="newWallOptions.sinceDate" md-placeholder="Since date">
                                            </md-datepicker>
                                            <span style=" white-space: pre; display: inline-block;">       -     </span>
                                            <md-datepicker ng-model="newWallOptions.untilDate" md-placeholder="Until date">
                                            </md-datepicker>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="form-group" style="margin-top: 20px;">
                                             <label class="info">Event Logo&nbsp;&nbsp;</label>
                                             <label ng-hide="uploading" for="input-file-id" class="md-button md-raised upload-btn">Choose Image</label>
                                             <md-button class="md-icon-button " aria-label="Delete" ng-click="resetLogo()" ng-if="newWallOptions.logoId">
                                                 <i class="fa fa-trash thumbnail-icon"></i>
                                             </md-button>
                                             <md-progress-circular style="display:inline-block;top:12px" ng-show="uploading" md-mode="indeterminate"></md-progress-circular>
                                             <div ng-messages="step1.picture.$error" style="color: red;">
                                                <div ng-message="minWidth">
                                                    <p>Min Width has to be 50.</p>
                                                </div>
                                                <div ng-message="minHeight">
                                                    <p>Min height has to be 30.</p>
                                                </div>
                                                <div ng-message="maxWidth">
                                                    Max Width has to be 1000.
                                                </div>
                                                <div ng-message="maxSize">
                                                    <p>File is bigger than 3MB.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <md-input-container class="ng-hide" >
                                    <input name="picture" id="input-file-id" type="file" ngf-select="upload($file, 'logo')" ng-model="$parent.picture" accept="image/*" ngf-max-size="3MB" ngf-validate="{width: {min: 10, max: 1000}, height: {min: 30, max: 900}}" aria-label="upload image">
                                    </md-input-container>
                                    <!-- <img style="width:100%;" ngf-src="$parent.picture"> -->
                                    <cl-image ng-if="newWallOptions.logoId" style="max-width:100%;max-height:12vh;margin-bottom: 14px;" public-id="{{newWallOptions.logoId}}" format="PNG">
                                        <!-- <cl-transformation crop="fill" gravity="north"/> -->
                                    </cl-image>
                                    </div>
                                    </div>

                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane fade" id="content">
                                <div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="wall-float-container">
                                                    <i class="fa fa-check-circle fa-3x wall-float-icon-contains"></i>
                                                    <div class="wall-float-text">
                                                        <h3>Include<br><small>Add words, #hashtags, @mentions and from:user</small></h3>
                                                    </div>
                                                </div>
                                                <div class="form-group wall-tag-label-contain">
                                                    <label class="wall-contains-header">Show tweets that contain <strong>ALL</strong> of these</label>
                                                    <tags-input class="wall-tag-input" ng-model="newWallOptions.all" placeholder="Type and hit enter" name="ands"></tags-input>
                                                </div>
                                                <div class="form-group wall-tag-label-contain">
                                                    <label class="wall-contains-header">Show tweets that contain <strong>ANY</strong> of these</label>
                                                    <tags-input class="wall-tag-input" ng-model="newWallOptions.any" placeholder="Type and hit enter" name="ors"></tags-input>
                                                </div>
                                                <h3 style="margin-bottom: 10px;" ng-if="newWallOptions.mainHashtagText">Main hashtag: 
                                                    <span class="label label-primary">{{newWallOptions.mainHashtag}}</span>
                                                </h3>
                                                <div class="form-group row">
                                                    <h4 class="col-xs-9">Cycle/Repeat tweets
                                                            <br><small>Will show only latest tweets if set to No.</small></h4>
                                                    <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.cycle">
                                                    </toggle-switch>
                                                </div>
                                                <div ng-if="newWallOptions.cycle==true" class="form-group row">
                                                    <h4 class="col-xs-9">Cycle Delay Time
                                                            <br><small>When there are no new posts, show a tweet for how many seconds?</small></h4>
                                                    <input style="min-width:100px;width:10%;" class="col-xs-2" type="number" min="1" max="20" ng-blur="lostCycleDelayFocus()" ng-model="newWallOptions.cycleDelayTime">
                                                    <hr class="modalHr">
                                                </div>
                                                <div ng-if="newWallOptions.cycle==true" class="form-group row">
                                                    <h4 class="col-xs-9">Cycle Post Limit
                                                            <br><small>How many of the most recent posts should we cycle?</small></h4>
                                                    <input style="min-width:100px;width:10%;" class="col-xs-2" type="number" min="1" max="100" ng-blur="lostCyclePostsFocus()" ng-model="newWallOptions.cyclePostLimit">
                                                    <hr class="modalHr">
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <h4 class="col-xs-8">Places<br><small>Show tweets near this place</small></h4>
                                                        <input class="wall-location-input" type="text" ng-model="newWallOptions.chosenLocation">
                                                        <ul class="col-xs-offset-8 wall-location-list" ng-show="wall.hasSuggestions">
                                                            <li ng-repeat="location in wall.locationSuggestions | limitTo:5" ng-click="wall.setLocation(location.query)">{{location.query}}</li>
                                                        </ul>
                                                    </div>
                                                    <!-- <span class="location-hint">Click to change/choose location</span> -->
                                                </div>
                                                <hr class="modalHr">
                                                <div class="form-group">
                                                    <h3>Media</h3>
                                                    <div class="row">
                                                        <h4 class="col-xs-8">Images<br><small>Show tweets with images?</small></h4>
                                                        <choices class="wall-media-toggle" data-type="array" btn-type="btn-default" ng-model="newWallOptions.images">
                                                            <choice ng-disabled="newWallOptions.videos[0]=='only'" active value="both">Yes</choice>
                                                            <choice ng-disabled="newWallOptions.videos[0]=='only'" value="none">No</choice>
                                                            <choice ng-disabled="newWallOptions.videos[0]=='only'" value="only">Only</choice>
                                                        </choices>
                                                    </div>
                                                    <div class="row">
                                                        <h4 class="col-xs-8">Videos<br><small>Show tweets with videos?</small></h4>
                                                        <choices class="wall-media-toggle" data-type="array" btn-type="btn-default" ng-model="newWallOptions.videos">
                                                            <choice ng-disabled="newWallOptions.images[0]=='only'" value="both">Yes</choice>
                                                            <choice ng-disabled="newWallOptions.images[0]=='only'" active value="none">No</choice>
                                                            <choice ng-disabled="newWallOptions.images[0]=='only'" value="only">Only</choice>
                                                        </choices>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="wall-float-container">
                                                    <i class="fa fa-minus-circle fa-3x wall-float-icon-not-contains"></i>
                                                    <div class="wall-float-text">
                                                        <h3>Exclude<br><small>Add words, #hashtags, @mentions and from:user</small></h3></div>
                                                </div>
                                                <div class="form-group wall-tag-label-not-contain">
                                                    <label class="wall-not-contains-header">Show tweets that contain NONE of these</label>
                                                    <tags-input class="wall-tag-input" ng-model="newWallOptions.none" placeholder="Type and hit enter" name="nones"></tags-input>
                                                </div>
                                                <div>
                                                    <hr class="modalHr">
                                                    <h3>Moderation</h3>
                                                    <div class="form-group row">
                                                        <h4 class="col-xs-9">Manual Mode
                                                            <br><small>Approve or deny every Tweet before it shows on your Tweet wall</small></h4>
                                                            <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.moderation">
                                                        </toggle-switch>
                                                    </div>
                                                    <div class="form-group row">
                                                        <h4 class="col-xs-9">Block tweets with profanity
                                                            <br><small>Tweets containing profanity will go straight into the blocked queue and will not be displayed or placed in moderation.</small></h4>
                                                        <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.profanity">
                                                        </toggle-switch>
                                                    </div>
                                                    <div class="form-group row">
                                                        <h4 class="col-xs-9">Block retweets
                                                            <br><small>Retweets will not be shown or counted in the stats, they'll be immediately blocked.</small></h4>
                                                        <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.blockRetweets">
                                                        </toggle-switch>
                                                    </div>
                                                    <hr class="modalHr">
                                                    <h3 class="wall-exclude-toggles">Coming Soon</h3>
                                                    <div class="form-group row wall-exclude-toggles">
                                                        <h4 class="col-xs-9">Hide retweets
                                                            <br><small>Retweets will not be shown, but they WILL be counted in the stats and leaderboards.</small></h4>
                                                        <toggle-switch disabled="true" class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.hideRetweets">
                                                        </toggle-switch>
                                                    </div>
                                                    <div class="form-group row wall-exclude-toggles">
                                                        <h4 class="col-xs-9">Follower threshold
                                                            <br><small>Block any Tweets from people that have less than the number of followers you specify.</small></h4>
                                                        <input style="min-width:100px;width:10%;" disabled="true" class="col-xs-2" type="text" ng-model="newWallOptions.followerThreshold">
                                                    </div>
                                                    <hr class="modalHr">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="design">
                                <div class="box-body">
                                    <div class="row wall-preview-container">
                                        <div class="col-md-5" style="padding-right: 5%;">
                                            <h3 style="text-align: center;">Select a layout to customize</h3>
                                            <div class="box-body">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-3">
                                                            <label class="layoutRadio">
                                                                <input ng-model="newWallOptions.layoutStyle" value="1" name="layoutStyle" type="radio"></input>
                                                                <img src="images/linear-layout-thumb.jpg" alt="">
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 col-xs-3">
                                                            <label class="layoutRadio">
                                                                <input ng-model="newWallOptions.layoutStyle" value="2" name="layoutStyle" type="radio"></input>
                                                                <img src="images/masonry-layout-thumb.jpg" alt="">
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 col-xs-3">
                                                            <label class="layoutRadio">
                                                                <input ng-model="newWallOptions.layoutStyle" value="3" name="layoutStyle" type="radio"></input>
                                                                <img src="images/cot-layout-thumb.jpg" alt="">
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 col-xs-3">
                                                            <label class="layoutRadio">
                                                                <input ng-model="newWallOptions.layoutStyle" value="4" name="layoutStyle" type="radio"></input>
                                                                <img src="images/map-layout-thumb.jpg" alt="">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row design-box">
                                                        <div class="col-xs-4 form-group">
                                                            <label>Header</label>
                                                            <div class="input-group">
                                                                <span ng-style="{'background-color':newWallOptions.headerColour}" class="input-group-addon"></span>
                                                                <input ng-model="newWallOptions.headerColour" colorpicker type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label>Background</label>
                                                            <div class="input-group">
                                                                <span ng-style="{'background-color':newWallOptions.wallBgColour}" class="input-group-addon"></span>
                                                                <input ng-model="newWallOptions.wallBgColour" colorpicker type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label>Card</label>
                                                            <div class="input-group">
                                                                <span ng-style="{'background-color':newWallOptions.cardBgColour}" class="input-group-addon"></span>
                                                                <input ng-model="newWallOptions.cardBgColour" colorpicker type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label >Leaderboard</label>
                                                            <br>
                                                            <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.showStatistics">
                                                            </toggle-switch>
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label>Loklak logo</label>
                                                            <br>
                                                            <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.showLoklakLogo">
                                                            </toggle-switch>
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label>Event name</label>
                                                            <br>
                                                            <toggle-switch class="wall-toggle-switch" on-label="Yes" off-label="No" ng-model="newWallOptions.showEventName">
                                                            </toggle-switch>
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label>Header location</label>
                                                            <select ng-model="newWallOptions.headerPosition" class="form-control">
                                                                <option>Top</option>
                                                                <option>Bottom</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-7 wall-preview animate-switch-container" ng-switch on="newWallOptions.headerPosition">
                                            <div ng-switch-when="Top" ng-style="{'background-color': newWallOptions.headerColour} " class="row wall-preview-header">
                                                <div ng-style="{'color': newWallOptions.headerForeColour, 'font-size': '4vh', 'font-family': 'Roboto, sans-serif'}" class="preview-hashtag col-md-4">{{newWallOptions.mainHashtag}}</div>
                                                <div ng-style="{'color': newWallOptions.headerForeColour}" class="preview-event-name col-md-4">
                                                    <div><img class="wall-preview-logo" ng-if="newWallOptions.logo" data-ng-src="data:{{newWallOptions.logo.filetype}};base64,{{newWallOptions.logo.base64}}">
                                                        <div ng-hide="!newWallOptions.showEventName" class="wall-header-eventname" style="font-size:4vh; ">{{newWallOptions.eventName}}</div>
                                                    </div>
                                                </div>
                                                <div ng-hide="!newWallOptions.showLoklakLogo" ng-style="{'color': newWallOptions.headerForeColour,'font-weight': '800','opacity': '0.3','font-size': '1.5vh'} " class="preview-banner col-md-4">POWERED BY LOKLAK</div>
                                            </div>
                                            <div class="row animate-switch-container" ng-switch on="newWallOptions.layoutStyle">
                                                <img ng-switch-when="1" class="img-responsive animate-switch" ng-src="{{newWallOptions.showStatistics?'/images/leaderboardlinear-layout.jpg':'/images/linear-layout.jpg'}}" alt="">
                                                <img ng-switch-when="2" class="img-responsive animate-switch" ng-src="{{newWallOptions.showStatistics?'/images/leaderboardmasonry-layout.jpg':'/images/masonry-layout.jpg'}}" alt="">
                                                <img ng-switch-when="3" class="img-responsive animate-switch" ng-src="{{newWallOptions.showStatistics?'/images/leaderboardcoa-layout.jpg':'/images/coa-layout.jpg'}}" alt="">
                                                <img ng-switch-when="4" class="img-responsive animate-switch" ng-src="{{newWallOptions.showStatistics?'/images/leaderboardmap-layout.jpg':'/images/map-layout.jpg'}}" alt="">
                                            </div>
                                            <div ng-switch-when="Bottom" ng-style="{'background-color': newWallOptions.headerColour} " class="row wall-preview-header">
                                                <div ng-style="{'color': newWallOptions.headerForeColour} " class="preview-hashtag col-md-4">{{newWallOptions.mainHashtag}}</div>
                                                <div ng-style="{'color': newWallOptions.headerForeColour} " class="preview-event-name col-md-4">
                                                    <div><img class="wall-preview-logo" ng-if="newWallOptions.logo" data-ng-src="data:{{newWallOptions.logo.filetype}};base64,{{newWallOptions.logo.base64}}">
                                                        <div ng-hide="!newWallOptions.showEventName" class="wall-header-eventname">{{newWallOptions.eventName}}</div>
                                                    </div>
                                                </div>
                                                <div ng-hide="!newWallOptions.showLoklakLogo" ng-style="{'color': newWallOptions.headerForeColour} " class="preview-banner col-md-4">Loklak</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="moderation">
                                <div>
                                    <div class="box-body">
                                        <div class="row wall-preview-container">
                                         <div class="row">
                                            <div ng-repeat="status in statuses track by $index" linear-approve open="wall.open" toggle="wall.toggle" data="status"></div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="isEditing !== -1" class="tab-pane fade" id="announcements">
                                <div class="box-body">
                                    <div class="row wall-preview-container">
                                        <div class="col-md-6">
                                            <h3>New Announcement</h3>
                                            <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container style="width:100%">
                                                    <label style="top: initial;">Header</label>
                                                    <input ng-model="newAnnounce.header"type="text">
                                                </md-input-container>
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-12">
                                              <md-input-container style="width:100%">
                                                  <label style="top: initial;">Subheader</label>
                                                  <textarea ng-model="newAnnounce.subheader" md-maxlength="150" md-select-on-focus></textarea>
                                              </md-input-container>
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-4">
                                                <md-input-container style="width:100%">
                                                  <label style="top: initial;">Start Date & Time</label>
                                                  <input mdc-datetime-picker="" date="true" time="true" type="text" max-date="dateTimeEnd" ng-model="newAnnounce.startDateTime" class=" md-input" format = "ddd, MMM Do, h:mm a"
                                                  id="announceDateTime">
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                                <md-input-container style="width:100%">
                                                  <label style="top: initial;">Duration /minutes</label>
                                                  <input required type="number" step="5" name="duration" ng-model="newAnnounce.duration" min="0" max="4999" 
                                                  id="announceDateTime">
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-4">
                                              <md-input-container style="width:100%">
                                                  <label style="top: initial;">Timeline Icon (FontAwesome)</label>
                                                  <input ng-model="newAnnounce.faIconClassName" type="text" placeholder="eg: fa-star">
                                              </md-input-container>
                                            </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12" style="top: -33px;">
                                                <form name="announce">
                                                <div class="form-group">
                                                     <label class="info">Announcement Image&nbsp;&nbsp;</label>
                                                     <label ng-hide="uploading" for="input-file-id-announce" class="md-button md-raised upload-btn">Choose Image</label>
                                                     <md-button class="md-icon-button " aria-label="Delete" ng-click="resetLogo()" ng-if="newAnnounce.logoId">
                                                         <i class="fa fa-trash thumbnail-icon"></i>
                                                     </md-button>

                                                     <md-progress-circular style="display:inline-block;top:12px" ng-show="uploading" md-mode="indeterminate"></md-progress-circular>
                                                     <div ng-messages="announce.pictureAnnounce.$error" style="color: red;">
                                                        <div ng-message="minWidth">
                                                            <p>Min Width has to be 50.</p>
                                                        </div>
                                                        <div ng-message="minHeight">
                                                            <p>Min height has to be 30.</p>
                                                        </div>
                                                        <div ng-message="maxWidth">
                                                            Max Width has to be 750.
                                                        </div>
                                                        <div ng-message="maxSize">
                                                            <p>File is bigger than 3MB.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <md-input-container class="ng-hide" >
                                                <input name="pictureAnnounce" id="input-file-id-announce" type="file" ngf-select="upload($file, 'announce')" ng-model="$parent.pictureAnnounce" accept="image/*" ngf-max-size="3MB" ngf-validate="{width: {min: 10, max: 900}, height: {min: 10, max: 900}}" aria-label="upload announcement image">
                                                </md-input-container>
                                                </form>

                                                <!-- <img style="width:100%;" ngf-src="$parent.picture"> -->
                                                <cl-image ng-if="newAnnounce.logoId" style="max-width:100%;" public-id="{{newAnnounce.logoId}}" format="PNG" >
                                                </cl-image>
                                                </div>
                                            </div>

                                            <div style="padding: 42px 0 0 60px;">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Your Announcements</h3>
                                            <div ng-repeat="announce in announces track by $index" linear-announce data="announce" edit-announce="editAnnounce(announce)" delete-announce="deleteAnnounce(announce)"></div>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style ="margin-top: 0;margin-bottom: -3px;border: 0;border-top: 1px solid #eeeeee;margin-left: 18%;box-shadow: 3px 0px 9px rgba(50, 50, 50, 0.2);">
            <div class="modal-footer">
                <div style="float:left;" class="col-xs-offset-2">
                    <a ng-show="showNext" ng-click="proceed()" type="submit" style="margin-left: 15px;" class="btn btn-lg btn-loklak-blue">Next Step</a>
                    <!-- <a ng-click="proceed()" type="submit" class="btn btn-primary">Save and Close</a> -->
                    <a ng-show="showStart" ng-disabled="!(newWallOptions.eventName && newWallOptions.mainHashtagText)" type="submit" class="btn btn-lg btn-loklak-blue" style="margin-left: 15px;"ng-click="!(newWallOptions.eventName && newWallOptions.mainHashtagText) || start()">Start twitter wall</a>
                    <a class="btn btn-lg btn-loklak-blue" ng-show="selectedTab === 4" class="md-raised" ng-click="addAnnounce()" >Save Annoucement</a>                    
                    <span ng-show="(!showNext) && ((step1.eventNameInput.$invalid) || (step1.hashtagInput.$invalid))" style="color:red;">Enter an event name and your event's main hashtag</span>
                </div>
            </div>
        </div>
    </div>
</div>
